{% extends 'base.html' %}
{% block content %}
<h1>Green Data</h1>
<table class="table">
  <thead><tr><th>ID</th><th>Filename</th><th>Uploader</th><th>Date</th></tr></thead>
  <tbody>
  {% for g in greens %}
  <tr>
    <td><a href="{{ url_for('green.green_detail', green_id=g.id) }}">{{ g.id }}</a></td>
    <td>{{ g.filename or 'Manual Entry' }}</td>
    <td>{{ g.uploader.username }}</td>
    <td>{{ g.created_at.strftime('%Y-%m-%d') }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
